body{
    display: flex;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Inter";
}

.line{
   width: 80%;
   text-align:left;
   margin-left:0;
   margin-top: 40px;
   height: 2px;
   background-color: black;
}

.name{
    margin-bottom: 0;
    font-weight: 500;
}

.green{
    color: green;
    font-weight: 500;
}

.address{
    line-height: 25px;
}

.skills{
    line-height: 25px;
    margin-top: 0px;
}

.education{
    line-height: 25px;
    margin-top: 0px;
    color: #1871c2;
    font-weight: 500;
}

.education-details{
    margin-top: -10px;
    line-height: 25px;
}

.job-list{
    margin-top: -5px;
    padding-left: 20px;
}

.job{
    margin-bottom: 5px;
}

.job-skills{
    margin-top: -5px;
}

.socials{
    margin-top: -5px;
    line-height: 25px;
}

/* Responsiveness */

@media only screen and (min-width: 601px){
    body{
        padding-left: 0%;
        padding-right: 0%;
    }
    .container{
        border: 1px solid black;
        padding: 2%;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(192, 192, 192, 0.2), 0 6px 20px 0 rgba(220, 220, 220, 0.19);
    }
}