body{
    display: flex;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
}


.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Inter";
}

.line{
   width: 80%;
   text-align:left;
   margin-left:0;
   margin-top: 70px;
   height: 2px;
   background-color: black;
}

.name{
    margin-bottom: 0;
    font-weight: 500;
}

.green{
    color: green;
    font-weight: 500;
}

.address{
    line-height: 25px;
}

.skills{
    line-height: 25px;
    margin-top: 0px;
}

.education{
    line-height: 25px;
    margin-top: 0px;
    color: #1871c2;
    font-weight: 500;
}

.education-details{
    margin-top: -10px;
    line-height: 25px;
}